In [1]:
import plotnine
from plotnine import *
#plotnine is used for visualization, ggplot
import pandas as pd

C:\Users\Christopher\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
myData=pd.read_table("Data/gapminder.txt")

#view first few lines of the dataset
print(myData.tail())

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [7]:
def SelectDataByCont(df,continents_list):
    """select data for continents given in the 'continents_list' from a dataframe 'df'"""    
    dataSubset=df.loc[df['continent'].isin(continents_list),:]
    return dataSubset

In [19]:
continents_list=['Americas','Africa']
dataSubset=myData.loc[myData['continent'].isin(['Africa']),:]
dataSubset.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [21]:
print(pd.unique(dataSubset['continent']))

['Africa']

In [22]:
newData=SelectDataByCont(myData,['Asia','Europe'])

In [24]:
newData.tail()

        country continent  year  lifeExp       pop    gdpPercap
1675  Yemen_Rep      Asia  1987   52.922  11219340  1971.741538
1676  Yemen_Rep      Asia  1992   55.599  13367997  1879.496673
1677  Yemen_Rep      Asia  1997   58.020  15826497  2117.484526
1678  Yemen_Rep      Asia  2002   60.308  18701257  2234.820827
1679  Yemen_Rep      Asia  2007   62.698  22211743  2280.769906